<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-10">
    <table class="table table-striped">
  <thead>
    <tr>
      <td *ngFor=" let key of keys">
        {{key}}
      </td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor=" let item of data">
      <td *ngFor=" let key of keys" (click)="viewDetails(item.id)">
        {{item[key]}}
      </td>
      <td><button type="button" class="btn btn-primary" (click)="openModal(template, item.id)">Edit</button>
          &nbsp;<button type="button" class="btn btn-danger" (click)="deleteData(item.id)">Delete</button></td>
    </tr>
  </tbody>
</table>
</div>
</div>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Modal</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <input  class="form-control" type="text" name="agenda" placeholder="Agenda"><br/>
    <select class="form-control">
      <option selected disabled>Duration</option>
      <option>5 min</option>
      <option>10 min</option>
      <option>15 min</option>
    </select><br/>
    <input class="form-control" type="email" name="email" placeholder="email@email.com"><br/>
    <button class="btn btn-success" (click)="updateData()">Update</button>
  </div>
</ng-template>